doctype html
html(lang='en')
  head
    title='layouts'
    meta(charset='utf-8')
    meta(name="author" content="Gideon Akinsanmi")
    meta(name="description" content="entry point for managing sales, content, data and everything business-related")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/fonts/font-awesome 5.14/font 5.14/css/all.css" type="text/css")
  body(id='body' style='margin:0;padding:0;')
  
   div
     h1='Animation'
     h2
       b='Interactive(3d,AR,VR)'
       b(style='float:right;') &rarr;
     div(style='background-color: rgb(245,245,245);margin:20px;padding:10px;border-radius:7px;')
       ul
         li='Environment Simulation(Ecommerce,AR store,Real Estate,Restaurant)'
         li='Data Visualization'
         li='Maps'
         li='Bonus Games'
         li='Game,cartoon inspos)'
     
    style='h2.head {padding: 5px;border-bottom:1px solid silver;} h1 {text-align:center;}'